
{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        {#p {#}
        {#    border-width: 1px;#}
        {#    border-style: solid;#}
        {#    color: #6f42c1;#}
        {#    background-color: #FFFFCC;#}
        {#}#}

        .container {
            display: inline-flex;
            align-items: center; /* Центрировать элементы по вертикали */
            max-width: 1170px;
            margin: 0 auto; /* Центрирование по горизонтали */
        }

        .logo {
            margin-right: 20px; /* Расстояние между логотипом и цитатой */
        }

        .quote {
            flex-grow: 1; /* Растягивает цитату, чтобы заполнить доступное пространство */
        }

        .certificate {
            width: 570px;
            height: 472px;
            {#margin: 0 auto;#}
            position: relative;
            margin-top: 20px;
        }

        .background-image {
            width: 500px;
            height: 401px;
            background-image: url('{% static 'vendor/img/img_7.png' %}');
            background-size: cover;
            position: absolute;
            top: 30px;
            left: 30px;
            z-index: 2;
        }


        .border {
            width: 100%;
            height: 100%;
            background-image: url('{% static 'vendor/img/img_8.png' %}');
            background-size: 100% 100%;
            position: absolute;
            z-index: 1;
        }

        .text {
            position: absolute;
            z-index: 3;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff; /* Цвет текста */
            font-family: 'Pacifico', cursive;
            font-size: 24px; /* Размер шрифта */
            text-shadow: 2px 2px 2px #000000;
        }

        {#body {#}
        {#    background-image: none; /* Убираем фоновую картинку */#}
        {#    padding: 10px;#}
        {#    margin-top: 50px;#}
        {#}#}

    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background: #e08976;
    }

    .instruction {
      font-family: 'Montserrat';
      font-size: 0.75em;
      font-weight: bold;
      position: absolute;
      top: 5%;
      width: 100%;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-align: center;
      color: white;
      user-select: none;
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: perspective(800px);
      transform: perspective(800px);
    }

    .card {
      width: 450px;
      height: 300px;
      border-radius: 10px;
      box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.5);
      background: linear-gradient(121deg, rgb(71, 10, 10) 0%, rgb(178, 28, 14) 34%, rgb(203, 13, 64) 64%, rgb(203, 83, 130) 94%);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: 0.1s;
      transition: 0.1s;
    }

    .card .card__gloss {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transform: translateZ(1px);
      z-index: 2;
    }

    .card .card__content {
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .card .card__content > * {
      transform: translateZ(75px);
      color: white;
    }

    .card .card__content .card__image {
      width: 150px;
      height: 150px;
      border: 5px solid #fff;
      border-radius: 50%;
      margin: 40px auto 0 auto;
      background-size: 190%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url("https://ik.imagekit.io/zwymr4sxm/Untitled-2.jpg?updatedAt=1700836794578");
    }

        @font-face {
            font-family: 'FontOfKindness';
            src: url('{% static 'vendor/img/font/FontOfKindness2.0-Regular.otf'%}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        .custom-font {
            font-family: 'FontOfKindness', sans-serif;
            font-size: 64px;
            text-align: center;
            color: #000000;
            letter-spacing: 20px; /* кернинг */
        }
    .card .card__content .card__name {
      font-family: 'FontOfKindness', sans-serif;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .card .card__name__image {
      position: absolute;
      top: 11.5%;
      left: 31.5%;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      transform: translateZ(1px);
      background: rgba(0,0,0,0.15);
      -webkit-filter: blur(3px);
      filter: blur(3px);
    }

    .card .card__name__shadow {
      position: absolute;
      bottom: 14%;
      left: 30%;
      font-family: 'FontOfKindness', sans-serif;
      font-weight: bold;
      letter-spacing: 3.4px;
      text-transform: uppercase;
      transform: translateZ(1px);
      color: transparent;
      text-shadow: 0 0 4px rgba(0,0,0,0.15);
    }

    </style>
{% endblock %}

{% block content %}

    <h1>О компании Django-Pizza</h1>

    <div class="container">
      <div id="card" class="card">
        <div class="card__content">
          <div class="card__image"></div>
          <p class="card__name">Parallax Card</p>
            <p class="card__name__shadow">Parallax Card</p>
        </div>
        <div class="card__name__image"></div>

        <div class="card__gloss"></div>
      </div>
    </div>


    <div class="container">
        <!-- Логотип -->
        <div class="logo">
          <img src="{% static 'vendor/img/djlogo.webp' %}" alt="Логотип Django-Pizza" width="200">
        </div>

        <!-- Цитата -->
        <div class="quote">
          <blockquote>
            <p>Мы живем в обществе, где пицца приезжает быстрее, чем скорая.</p>
              <cite><del>Джейсон Стейтем</del>, 2023</cite>
          </blockquote>
        </div>
    </div>

    <!-- Информация о компании -->
    <p>Добро пожаловать в мир <strong>Django-Pizza</strong>! Мы являемся одной из ведущих пиццерий в мире, специализирующихся на приготовлении вкуснейших пицц.</p>

    <!-- Видео -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RKAzfd8oTWs" frameborder="0" allowfullscreen></iframe>

    <!-- История по годам -->
    <h2>История Django-Pizza</h2>
    <ul>
        <li>2021: Мы впервые представили в нашем меню пиццу с трюфельным маслом, которая быстро стала хитом среди наших клиентов.</li>
        <li>2022: Django-Pizza начала доставку пиццы с использованием беспилотных автомобилей, что сделало наши заказы еще быстрее и удобнее.</li>
        <li>2023: В этом году Django-Pizza открыла свой 100-й ресторан и представила новый вкусный вид пиццы под названием "Итальянская фантазия."</li>
    </ul>

    <!-- Реквизиты -->
    <h2>Реквизиты компании</h2>
    <p>Наименование компании: <abbr title="Общество с ограниченной ответственностью">OOO</abbr> "Django-Pizza"</p>
    <p>Юридический адрес: ул. Пиццериевская, 123</p>
    <p>ИНН: 1234567890</p>
    <p>ОГРН: 0987654321</p>

    <div class="certificate">
        <div class="background-image"></div>
        <div class="border"></div>
        <div class="text">
            <p>СЕРТИФИКАТ</p>
            <h1>Награждается</h1>
            <h2>Django-Pizza</h2>
            <p>за выдающиеся достижения</p>
            <p>в области</p>
            <h3>Кулинарии</h3>
            <p>2023 год</p>
        </div>
    </div>

    <script>
        (function() {
          "use strict";

          var card = document.getElementById('card'),
              gloss = card.querySelector('.card__gloss'),
              content = card.querySelector('.card__content'),
              width = window.innerWidth,
              height = window.innerHeight;


          function init() {
            bindMouse();

            // Initial tilt
            light(350, -125);
            tilt(350, -125);
          }

          function bindMouse() {
            document.addEventListener('mousemove', (event) => {
              let x = event.clientX - (width / 2),
                  y = event.clientY - (height / 2);

              light(x, y);
              tilt(x, y);
            });
          }


          function light(x, y) {
            let angle = (Math.atan2(y, x) * 180) / Math.PI - 90;

            gloss.style.background = 'linear-gradient(' + angle + 'deg, rgba(255, 255, 255,' + y / height * .9 + ') 0%, rgba(255, 255, 255, 0) 80%)';
          }

          function tilt(x, y) {
            let force = 80,
                rx = (x / width) * force,
                ry = (y / height) * -force;

            card.style.transform = 'rotateY(' + (rx) + 'deg) rotateX(' + (ry) + 'deg)';
            // content.style.transform = 'translateX(' + (rx * .75) + 'px) translateY(' + (ry * .75) + 'px)';
          }
          init();

        })();
    </script>

{% endblock %}