
{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
        }

        h1 {
            text-align: center;
        }

        .glossary {
            list-style-type: none;
            padding: 0;
        }

        .term {
            margin: 10px 0;
        }

        /* Стили для скрытых определений */
        .definition {
            display: none;
        }

        /* Стили для активных терминов */
        a.toggle {
            text-decoration: none;
            color: blue;
            cursor: pointer;
        }

        a.toggle:hover {
            text-decoration: underline;
        }

        h1 {
            font-size: 24px;
            margin: 20px 0;
        }

        /* Стили для контейнера FAQ */
        .glossary {
            list-style: none;
            padding: 0;
        }

        /* Стили для каждого вопроса и ответа */
        .faq {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }

        /* Стили для заголовка вопроса */
        details summary {
            cursor: pointer;
            font-weight: bold;
            padding: 5px;
            background-color: orange;
            border: 1px solid #26c7d7;
            border-radius: 5px;
        }

        /* Стили для текста ответа */
        details p {
            margin: 10px 0;
        }

        /* Стили для даты создания */
        .date {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block content %}
    <body>
    <h1>Часто задаваемые вопросы</h1>
    <ul class="glossary">
        {% for term in terms %}
            <div class="faq">
                <details>
                    <summary>
                        {{ term.term }}
                    </summary>
                    <p class="date">Дата создания: {{ term.timestamp|date:"d.m.Y" }}</p>
                    <p>{{ term.definition }}</p>
                </details>
            </div>
        {% endfor %}
    </ul>
</body>
{% endblock %}

